:root {
    --primary: #fff;
    --bg-color: rgb(5, 53, 61);
    --bg-envelope-color: #f5edd1;
    --envelope-tab: #ecdeb8;
    --envelope-cover: #e6cfa7;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: #C70039;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("loveback.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    scrollbar-color: transparent;
    overflow: hidden; /* Add this line to prevent scrolling */
}
.container {
    height: 140vh;
    display: grid;
    place-items: center;
}
.container > .envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 0 80px var(--shadow-color);
}
.envelope-wrapper > .envelope {
    position: relative;
    width: 600px;
    height: 460px;
}
.envelope-wrapper > .envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 260px solid var(--envelope-tab);
    border-right: 300px solid transparent;
    border-left: 300px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}
.envelope-wrapper > .envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-top: 260px solid transparent;
    border-right: 300px solid var(--envelope-cover);
    border-bottom: 200px solid var(--envelope-cover);
    border-left: 300px solid var(--envelope-cover);
}
.envelope > .letter {
    position: absolute;
    right: 18%;
    bottom: 0%;
    width: 60%;
    height: 90%;
    background: var(--primary);
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px 10px;
}
.envelope > .letter > .text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--txt-color);
    text-align: left;
    font-size: 10px;
}
.open-text { /* New styles for "Open Me" */
    position: absolute;
    bottom: 70px; /* Adjust as needed for spacing */
    left: 50%;
    transform: translateX(-50%);
    font-size: 44px; /* Adjust font size as needed */
    color: var(--txt-color); /* Match the text color */
    text-align: center;
    color: var(--bg-color);
    z-index: 3; /* Ensure it's above the envelope but below the heart */
}
.heart {
    position: absolute;
    top: 70%;
    left: 48%;
    width: 70px;
    height: 70px;
    background: var(--heart-color);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    box-shadow: -10px 10px 90px var(--heart-color);
    animation: heartbeat 0.8s linear infinite;
    cursor: pointer;
}
.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--heart-color);
    border-radius: 50%;
    box-shadow: -10px -10px 90px var(--heart-color);
}
.heart:before {
    top: -35px;
}
.heart:after {
    right: 35px;
}
@keyframes heartbeat {
    100% {
        transform: rotate(45deg) scale(0.8);
    }
    66% {
        transform: rotate(45deg) scale(0.9);
    }
    33% {
        transform: rotate(45deg) scale(1.0);
    }
    0% {
        transform: rotate(45deg) scale(1.1);
    }
}
.flap > .envelope:before {
    transform: rotateX(180deg);
    z-index: 0;
}
.flap > .envelope > .letter {
    bottom: 220px;
    transform: scale(1.5);
    transition-delay: 1s;
}
.left-image {
    float: left; /* Makes the image float to the left */
    margin-right: 10px; /* Space between the image and the text */
    width: 100px; /* Adjust the size of the image as needed */
    height: auto; /* Maintain the aspect ratio */
}

.hearts{
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    top: 1vh;
    transform: translateY(0%);
    left: 0;
    animation: fall 1s ease-in infinite;
}
@keyframes fall{
    to{
        transform: translateY(250vh);
    }
}